/* RESET STYLING */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'JetBrains';
	src: url(/assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}
@font-face {
	font-family: 'JetBrains Italic';
	src: url(/assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

/* ROOT STYLING */
:root {
	--grey-one:  #24232c;
	--light-grey: #817d92;
	--very-light-grey: #e6e5ea;
	--grey-two: #18171f;
	--green-color: #a4ffaf;
	--red-color: #f64a4a;
	--orange-color: #fb7c58;
	--gold-color: #f8cd65
	--heading-text: 24px;
	--large-text: 32px;
	--body-text: 18px;
}
img {
	max-width: 100%;
}
.container {
	width: 90%;
	margin: 0 auto;
}

body {
	font-family: 'JetBrains';
	background-color: var(--grey-two);
}

/* WRAPPER STYLING*/
#wrapper {
	
	margin: 0 auto;
	width: 300px;
	margin-top: 2em;
}
.head-text {
	color: var(--green-color);
	font-size: var(--heading-text);
	text-align: center;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}
.sub-text {
	color: var(--light-grey);
	font-size: 12px;
	text-align: center;
	margin-bottom: 0.5em;
}
/* HEADER STYLING */
header {
	background-color: var(--grey-one);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: .5em 1em;
	border-radius: 10px;
}
.pword {
	background: none;
	border: none;
	font-family: 'JetBrains';
	color: var(--very-light-grey);
	font-size: var(--body-text);
	width: 100%;
}
.copy {
	
	display: flex;
	justify-content: flex-end;
}

/* PASSWORD GENERATOR STYLING */
.password-generator {
	border-radius: 10px;
	margin-top: 1em;
	background-color: var(--grey-one);
	padding: 0.5em 1em;
}

.row-one {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.character-length {
	font-size: 14px;
	color: var(--very-light-grey);
}
#slider--value {
	color: var(--green-color);
}
.slider {
	width: 100%;
}